{{#each model as |post|}}
{{#unless post.isDeleted}}


  <div class=" post-container card">

    <div class="post">
      <div class="date">{{moment-format post.datum 'DD.MM.YYYY'}}, {{post.zeit}}</div>
      <div class="place">{{post.ort}} {{post.wo}}</div>
      <ul>
        {{#if post.pfiff}}  <li>Hinterhergepfiffen</li> {{/if}}
        {{#if post.hupen}}  <li>Angehupt</li>  {{/if}}
        {{#if post.schmatz}}  <li>Schmatzgeräusche</li>  {{/if}}
        {{#if post.spuck}}  <li>Gespuckt</li>  {{/if}}
        {{#if post.schimpf}}  <li>Beschimpft</li>  {{/if}}
        {{#if post.starr}}  <li>Angestarrt</li>  {{/if}}
        {{#if post.lach}}  <li>Ausgelacht</li>  {{/if}}
        {{#if post.beruht}}  <li>Berührt</li>  {{/if}}
      </ul>
      <p>
        {{post.beschreibung}}
      </p>


          <button type="button" name="button" class="btn btn-btn-secondary float-right" {{action "deletePost" post}}> Beitrag Löschen</button>

          {{#if post.freigabe}}
            <button type="button" name="button" class="btn btn-danger float-right" {{action "unpublishPost" post}}> Beitrag Sperren</button>
          {{else}}
            <button type="button" name="button" class="btn btn-success float-right" {{action "publishPost" post}}> Beitrag Freigeben</button>

          {{/if}}



    </div>
  </div>
  {{/unless}}
  {{/each}}
